*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #0e285b !important;
    color: white;
}

:root{
    --itim:#000000;
    --main: #0e285b;
    --second: #2563eb;
    --third: #0091ff;
    --fourth: #96d7ff;
}

.nav-item:hover{
    filter: drop-shadow(0 0 8px var(--fourth)) !important;
    border-radius: 5px;
    transition: 0.3s;
    color: var(--main) !important;
}
.intros{
    margin-top: 100px !important;
}
.marlon{
    filter: drop-shadow(1px 1px 50px var(--third));
}
